p.first {
    display: block;
    margin-left: 400px;
    margin-right: 100px;
    margin-top: 200px;
    color: white;
}

p.second{
    display: block;
    margin-left: 400px;
    margin-right: 100px;
    color: white;
}