<div class="row">
    <div class="col-xl-2 col-lg-2"></div>
    <div class="col-xl-8 col-lg-8">
        <div class="row">

            <div class="col-xl-4 col-lg-4"></div>
            <div class="col-xl-4 col-lg-4">
                <div class="content-container">

                    <img src="assets/images/self_03.jpg" class="image" alt="image">

                </div>
            </div>
            <div class="col-xl-4 col-lg-4"></div>
            
        </div>

        <div class="row">

            <div class="col-xl-4 col-lg-4">
                <div class="intro frost">
                    
                    <h3>Education</h3>

                    <img src="assets/images/diploma.png" alt="">

                    <p>Gradutaing in 2020 with a Bachelor's Degree in Computer Science with Honors, I've spent time
                        developing at all levels of the stack from front-end to back-end.
                    </p>
                    <p>
                        With knowledge of algorithms and data structures I approach problems from a pragmatic and efficient
                        point of view
                    </p>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="intro frost">
                    
                    <h3>Web Developer</h3>

                    <img src="assets/images/web_dev.png" alt="">
                    
                    <p>As a full stack developer I am constantly learning and growing. I've developed this site with 
                        Angular 9 but I've also worked with Django. I've worked with machine learning and computer 
                        vision to identify and compare galaxies. And I've also created an AI which automatically 
                        responds to tweets.
                    </p>

                    <p>Angular, javaScript, Django, HTML, CSS </p>
                    
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="intro frost">
                    
                    <h3>Back-End</h3>

                    <img src="assets/images/back_end.png" alt="">

                    <p>I have experience with Angular, Javascript, Typescript, HTML, CSS as well as back-end languages
                        such as Python and Java, and even database languages like MySQL
                    </p>

                    <br>
                    <br>
                    <br>

                    <p>Python, Java, C/C++</p>
                
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-2 col-lg-2"></div>
</div>


<!-- <div class="col-xl-3 col-lg-3"></div>
            <div class="col-xl-7 col-lg-6">

                <div class="content-container">

                    <img src="assets/images/self_landscape(1).png" class="image" alt="image">

                    
                    <div class="intro frost">
                    
                        <h3>Full Stack Developer</h3>

                        <p>Gradutaing in 2020 with a Bachelor's Degree in Computer Science with Honors, I've spent time
                            developing at all levels of the stack from front-end to back-end.</p>
                        
                        <p>As a full stack developer I am constantly learning and growing. I've developed this site with 
                            Angular 9 but I've also worked with Django. I've worked with machine learning and computer 
                            vision to identify and compare galaxies. And I've also created an AI which automatically 
                            responds to tweets.
                        </p>

                        <p>I have experience with Angular, Javascript, Typescript, HTML, CSS as well as back-end languages
                            such as Python and Java, and even database languages like MySQL</p>
                    
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-3"></div> -->