<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="row">
            <div class="col-4 "></div>
            <div class="col-4">
                <div class="image-container">
                    <img src="assets/images/self_01.jpg" class="image" alt="image">
                </div>
            </div>
            <!-- <div class="col-4"></div> -->
        </div>
        <div class="row">
            <div class="intro frost">

                <h4> Hello I'm</h4>

                <h1>Jorge Mario Fernandez</h1>

                <!-- <p>Much like our own life, striving to deliver responsive web designs takes patients and thoughtfulness.
                    Only then can we get the most of out of our time. </p> -->

                <p>I'm a front-end and back-end software developer. I believe that software should be carefully crafted 
                    with a pragmatic approach. My aim is to deliver high-quality and timely digital 
                    solutions to your digital problems.
                </p>
            </div>
        </div>
        <br>
        <div class="row-3">

            <div class="col-2"></div>
            <div class="col-2">
                <a routerLink="/project1">Project1</a>
            </div>
            <div class="col-2">
                <a routerLink="/project2">Project2</a>
            </div>
            <div class="col-2">
                <a routerLink="/project3">Project3</a>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
    <div class="col-3"></div>
    
</div>


  


<!--
<h1 [ngClass]="{
    'gray': h1Style,
    'large': h1Style
}">Something</h1>

<h1 [style.color]="h1Style ? 'red' : 'black'">Else</h1>

<h1 [ngStyle]="{
    'color': h1Style ? 'red' : 'green',
    'font-size': !h1Style ? '1em' : '2em'
}">More</h1>
-->
<!--
<ul *ngIf="users">
    <li *ngFor="let user of users.data">
        <img [src]="user.avatar">
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    </li>
</ul>
-->
<!--
<button (click)="firstClick()">Click Me</button>
-->